
body {
    background-color: rgb(64, 6, 6);
}

* {
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p, h2 {
    text-align: center;
}

.img-container {
    display: flex;
    justify-content:space-evenly; 
}

#img1, #img2 {
    width: 300px;
    border: 3px ridge rgb(114, 114, 109);
}

#img1:hover, #img2:hover{
    width: 300px;
    border: 3px ridge rgb(114, 114, 109);
    animation: scale 1s forwards;
}

  @keyframes scale {
    0% {
      transform: scale(1);
      filter: brightness(2.5);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(1.3);
    }
  }
