body {
    background-color: rgb(64, 6, 6);
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.movie-list {
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
}

.movie-item {
    display: flex;
    flex-direction:column; 
    align-content:space-between; 
    margin: 20px;
}

.thumbnail {
    width: 100px;
    margin-bottom: 30px;
    transition: transform 1.3s ease;
}

.movie-title {
    font-size: 18px;
    text-align: center;
    width: 100px;
}

footer {
    border: 5px solid black;
    padding: 0 10px;
    border-radius: 10%;
    margin: 20px 0;
    width: 55px;
}

h3 {
    color: aqua;
    text-align: center;

}

footer:hover {
background-color: rgb(111, 109, 109);
}

.thumbnail:hover {
outline: 3px inset white;
transform: scale(2.2);
}
